/* nav */
.nav-text {
    font-family: 'Nanum Gothic';
    color: #213FFF;
}

.nav-title {
    font-family: 'Oswald';
}

/* title */
.title-heading {
    font-family: 'Oswald';
    font-size: 5rem;
    text-align: center;
}

/* input */
.input-cell {
    font-family: 'Nanum Gothic';
    width: 520px;
    position: absolute;
    left: 32.5%;
    top: 25%;
}



/* Output */
.btn-submit {
    margin-bottom: 16px;
}


